---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Overriden Bootstrap settings.
// Check _sass/bootstrap/_variables.scss for default values.
// Copy and paste variables as needed, modify their values, and remove the !default flag.
// https://getbootstrap.com/docs/4.3/getting-started/theming/#variable-defaults

$primary: #6545a0;
$primary-light: #D1C4E9;

$link-color:                        $primary;
$dropdown-bg:                       $primary;

// Inverted navbar links
$navbar-dark-color:                 #fff;
$navbar-dark-hover-color:           $primary-light;

// text
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 400;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap/functions",
  "bootstrap/variables",
  "bootstrap/mixins",
  "bootstrap/root",
  "bootstrap/reboot",
  "bootstrap/type",
  "bootstrap/images",
  "bootstrap/grid",
  "bootstrap/tables",
  "bootstrap/buttons",
  "bootstrap/transitions",
  "bootstrap/dropdown",
  "bootstrap/nav",
  "bootstrap/navbar",
  "bootstrap/badge",
  "bootstrap/list-group",
  "bootstrap/utilities",
  "base"
;