---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Overriden Bootstrap settings
// check _sass/bootstrap/_variables.scss for default values

$primary: #6545a0 !default;
$primary-light: #D1C4E9 !default;

// Inverted navbar links
$navbar-dark-color:                 #fff !default;
$navbar-dark-hover-color:           $primary-light !default;

// text
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$headings-font-weight: 400 !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap/bootstrap",
  "base"
;