---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Overriden Bootstrap settings
// check _sass/bootstrap/_variables.scss for default values

$brand-primary: #6545a0 !default;
$brand-primary-light: #D1C4E9 !default;

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     992px !default;

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $brand-primary-light !default;
$navbar-inverse-bg:                         $brand-primary !default;
$navbar-inverse-border:                     transparent !default;

// Inverted navbar links
$navbar-inverse-link-color:                 #fff !default;
$navbar-inverse-link-hover-color:           $navbar-inverse-color !default;

// Inverted navbar brand label
$navbar-inverse-brand-hover-color:          $navbar-inverse-link-hover-color !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        transparent !default;

// text
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$headings-font-weight: 400 !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap/bootstrap",
  "base"
;