<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Built-in SeriesGuide extensions (Google Play version only) -->
        <service
            android:name="com.battlelancer.seriesguide.extensions.GooglePlayExtension"
            android:icon="@mipmap/ic_app"
            android:label="@string/extension_google_play"
            android:description="@string/description_extension_google_play">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </service>

    </application>

</manifest>
