# https://git-scm.com/docs/gitattributes

# Keep LF line endings for strings translation files
# (as when updating from Crowdin it exports with LF but on Windows would check out using CRLF)
**/values-**/strings.xml text eol=lf
