# Linux
!.gitignore
*~

# Windows
## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

# OSX
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
!.idea/
.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles
!.idea/copyright
!.idea/inspectionProfiles
!.idea/scopes

# Gradle
.gradle/
build/

# Kotlin
.kotlin/

# Android
## Any keystores
*.keystore

## Local configuration files (SDK path, etc)
keystore.properties
local.properties

# SeriesGuide
## Local configuration files
secret.properties

## Firebase
google-services.json

## Proguard
unused.txt

## Flatbuffers
flatc.exe

## bundletool
bundletool
