<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.battlelancer.seriesguide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Notification service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- App Engine + Sync adapter -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Sync adapter -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Android Beam -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Show shortcuts -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" >
    </uses-feature>

    <application
        android:name="com.battlelancer.seriesguide.SeriesGuideApplication"
        android:allowBackup="true"
        android:backupAgent="com.battlelancer.seriesguide.PrefBackupHelper"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:restrictedAccountType="${applicationId}"
        android:supportsRtl="false"
        android:theme="@style/Theme.SeriesGuide">

        <!-- Samsung MultiWindow support -->
        <meta-data android:name="com.samsung.android.sdk.multiwindow.enable" android:value="true" />

        <!-- Content provider -->
        <provider
            android:name="com.battlelancer.seriesguide.provider.SeriesGuideProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true" >
        </provider>

        <!-- Launch activity -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.ShowsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.action.VIEW_EPISODE"/>
                <action android:name="com.battlelancer.seriesguide.api.action.VIEW_SHOW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Hexagon -->
        <activity android:name="com.battlelancer.seriesguide.backend.CloudSetupActivity"/>

        <!-- Shows -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.AddActivity"
            android:label="@string/action_shows_add"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.com.uwetrottmann.seriesguide" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.OverviewActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.EpisodesActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.EpisodeDetailsActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.ListsActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.HistoryActivity" />

        <!-- Movies -->
        <activity android:name="com.battlelancer.seriesguide.ui.MoviesActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.MovieDetailsActivity" />

        <!-- Settings -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.SeriesGuidePreferences"
            android:label="@string/preferences" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity android:name="com.battlelancer.seriesguide.extensions.ExtensionsConfigurationActivity" />

        <!-- Import and Export -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.BackupDeleteActivity"
            android:label="@string/backup" />
        <activity android:name="com.battlelancer.seriesguide.dataliberation.DataLiberationActivity" />

        <!-- trakt -->
        <activity android:name="com.battlelancer.seriesguide.ui.ConnectTraktActivity" />
        <activity android:name="com.battlelancer.seriesguide.traktapi.TraktAuthActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.TraktCommentsActivity" />

        <!-- Others -->
        <activity android:name="com.battlelancer.seriesguide.billing.BillingActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.StatsActivity" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.SearchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.QuickCheckInActivity"
            android:taskAffinity="com.battlelancer.seriesguide.task.quickcheckin"
            android:exported="true" >
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.FullscreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.battlelancer.seriesguide.ui.PeopleActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.PersonActivity" />

        <!-- Notification service -->
        <service android:name="com.battlelancer.seriesguide.service.NotificationService" />

        <receiver android:name="com.battlelancer.seriesguide.service.OnAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- List widget configuration -->
        <activity
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetConfigure"
            android:taskAffinity="com.battlelancer.seriesguide.task.configuration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Widgets -->
        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.appwidget.UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_v11_info" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidget"
            android:enabled="@bool/isIceCreamSandwichOrLower"
            android:label="@string/smallwidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.appwidget.AppWidget$UpdateService"
            android:enabled="@bool/isIceCreamSandwichOrLower" >
        </service>

        <!-- DashClock Extension -->
        <service
            android:name="com.battlelancer.seriesguide.dashclock.UpcomingEpisodeExtension"
            android:icon="@drawable/ic_notification"
            android:label="@string/dashclock_extension_label"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/dashclock_extension_description" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.battlelancer.seriesguide.dashclock.UpcomingEpisodeSettingsActivity" />
        </service>

        <activity
            android:name="com.battlelancer.seriesguide.dashclock.UpcomingEpisodeSettingsActivity"
            android:exported="true" >
        </activity>

        <!-- SeriesGuide Extension listener -->
        <service
            android:name="com.battlelancer.seriesguide.extensions.ExtensionSubscriberService"
            android:exported="true" />

        <!-- Built-in SeriesGuide extensions -->
        <service
            android:name="com.battlelancer.seriesguide.extensions.AmazonExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/extension_amazon"
            android:description="@string/description_extension_amazon">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="com.battlelancer.seriesguide.extensions.ExtensionsConfigurationActivity" />
        </service>
        <service
            android:name="com.battlelancer.seriesguide.extensions.YouTubeExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/extension_youtube"
            android:description="@string/description_extension_youtube">
        <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </service>
        <service
            android:name="com.battlelancer.seriesguide.extensions.WebSearchExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/web_search"
            android:description="@string/description_extension_web_search">
        <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </service>

        <!-- Watch for extension package changes -->
        <receiver android:name="com.battlelancer.seriesguide.extensions.ExtensionPackageChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Sync service -->
        <service
            android:name="com.battlelancer.seriesguide.sync.SgAuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/accountauth" />
        </service>
        <service
            android:name="com.battlelancer.seriesguide.sync.SgSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_seriesguide" />
        </service>
    </application>

</manifest>
