<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwetrottmann.seriesguide"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service android:name="com.uwetrottmann.seriesguide.GCMIntentService"/>
        <receiver android:name="com.uwetrottmann.seriesguide.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.uwetrottmann.seriesguide"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.uwetrottmann.seriesguide"/>
            </intent-filter>
        </receiver>
        <activity android:launchMode="singleTop" android:name=".RegisterActivity"/>
    </application>

</manifest>