<div id="footer" class="container">
    
    <div class="row mt-2">
      <div class="col-sm-6 col-md-4 mt-3">
        <h3>Announcements & Help</h3>
        <dl class="sg-padded-list">
          <!-- Keep rel="me" for Mastodon site verification -->
          <dt><a href="{{ site.data.links.x }}">X (Twitter)</a> • <a rel="me" href="{{ site.data.links.mastodon }}">Mastodon</a></dt>
          <dd>Announcements</dd>

          <dt><a href="{{ site.data.links.discord }}">Discord</a> • <a href="{{ site.data.links.community }}">Forum</a></dt>
          <dd>Announcements, report bugs, share ideas or ask for help</dd>
        </dl>
      </div> <!-- col -->

      <div class="col-sm-6 col-md-4 mt-3"> 
        <h3>More Resources</h3>
        <dl class="sg-padded-list">
          <dt><a href="{{ site.data.links.github }}">GitHub repository</a></dt>
          <dd>Source Code</dd>

          <dt><a href="{{ site.data.links.release-notes }}">Release notes</a></dt>
          <dd>Detailed list of changes</dd>
        </dl>
      </div> <!-- span4 -->

      <div class="col-sm-6 col-md-4 mt-3">
        <h3>Powered by</h3>
        <div id="poweredby" class="row">
          <div class="col-md-12">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a title="TMDb" href="{{ site.data.links.tmdb }}"><img src="/images/themoviedb-logo.svg" width="100" height="72" alt="TMDb" /></a>
            </li>
            <li class="list-inline-item">
              <a title="Trakt" href="{{ site.data.links.trakt }}"><img src="/images/trakt-80.png" width="40" height="40" alt="Trakt" /></a>
            </li>
          </ul>
          </div>
        </div> <!-- poweredby -->
      </div> <!-- span4 -->
    </div> <!-- row -->

    <p class="credits mt-5">Made by <a href="http://uwetrottmann.com">Uwe Trottmann</a>. <a href="/impressum">Impressum</a>.</p>
    <p class="credits">Android, Google Play and the Google Play logo are trademarks of Google LLC.</p>
    <p class="credits">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</div> <!-- footer -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.slim.min.js"></script>
<!-- Bootstrap: Include all compiled plugins -->
<script src="/javascripts/bootstrap.min.js"></script>