<div id="footer" class="container">
    
    <div class="row mt-2">
      <div class="col-sm-6 col-md-4 mt-3">
        <h3>Follow SeriesGuide</h3>
        <dl>
          <dt><a href="{{ site.data.links.community }}">SeriesGuide Community <span class="fas fa-external-link-alt"></span></a></dt>
          <dd>Release announcements, share ideas, report bugs or ask for help</dd>
          <br/>
          <dt><a href="https://github.com/UweTrottmann/SeriesGuide/blob/master/CHANGELOG.md">Release notes <span class="fas fa-external-link-alt"></span></a></dt>
          <dd>Detailed list of changes</dd>
        </dl>
      </div> <!-- col -->

      <div class="col-sm-6 col-md-4 mt-3">
        <h3>Powered by</h3>
        <div id="poweredby" class="row">
          <div class="col-md-12">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a title="TheTVDb.com" href="{{ site.data.links.thetvdb }}"><img src="/images/thetvdb-200x120.png" width="100" height="60" alt="TheTVDb.com" /></a>
            </li>
            <li class="list-inline-item">
              <a title="Trakt" href="{{ site.data.links.trakt }}"><img src="/images/trakt-80.png" width="40" height="40" alt="Trakt" /></a>
            </li>
            <div style="height:10px;"></div>
            <li class="list-inline-item">
              <a title="TMDb" href="{{ site.data.links.tmdb }}"><img src="/images/themoviedb-logo.svg" width="100" height="72" alt="TMDb" /></a>
            </li>
          </ul>
          </div>
        </div> <!-- poweredby -->
      </div> <!-- span4 -->

      <div class="col-sm-6 col-md-4 mt-3"> 
        <h3>Further Resources</h3>
        <dl>
          <dt><a href="{{ site.data.links.github }}">Source Code <span class="fas fa-external-link-alt"></span></a></dt>
          <dd>GitHub code repository</dd>
          <br/>
          <dt><a href="{{ site.data.links.crowdin }}">Translate SeriesGuide <span class="fas fa-external-link-alt"></span></a></dt>
          <dd>Help translate SeriesGuide to your native language</dd>
        </dl>
      </div> <!-- span4 -->
    </div> <!-- row -->

    <p class="credits mt-5">Made on Earth. <a href="http://uwetrottmann.com">Uwe Trottmann <span class="fas fa-external-link-alt"></span></a>. <a href="/impressum">Impressum</a>.</p>
    <p class="credits">Android, Google Play and the Google Play logo are trademarks of Google Inc.</p>
    <p class="credits">TV information and images are provided by TheTVDB.com, but we are not endorsed or certified by TheTVDB.com or its affiliates.</p>
    <p class="credits">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</div> <!-- footer -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.slim.min.js"></script>
<!-- Bootstrap: Include all compiled plugins -->
<script src="/javascripts/bootstrap.min.js"></script>