<div id="footer" class="container">
    
    <div class="row mt-2">
      <div class="col-sm-6 col-md-4 mt-3">
        <h3>Follow SeriesGuide</h3>
        <dl class="sg-padded-list">
          <dt><a href="{{ site.data.links.mastodon }}">@SeriesGuide</a></dt>
          <dd>Release and other announcements</dd>

          <dt><a href="{{ site.data.links.community }}">Forums</a></dt>
          <dd>Release announcements, share ideas, report bugs or ask for help</dd>
          
          <dt><a href="https://github.com/UweTrottmann/SeriesGuide/blob/master/CHANGELOG.md">Release notes</a></dt>
          <dd>Detailed list of changes</dd>
        </dl>
      </div> <!-- col -->

      <div class="col-sm-6 col-md-4 mt-3">
        <h3>Powered by</h3>
        <div id="poweredby" class="row">
          <div class="col-md-12">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a title="TMDb" href="{{ site.data.links.tmdb }}"><img src="/images/themoviedb-logo.svg" width="100" height="72" alt="TMDb" /></a>
            </li>
            <li class="list-inline-item">
              <a title="Trakt" href="{{ site.data.links.trakt }}"><img src="/images/trakt-80.png" width="40" height="40" alt="Trakt" /></a>
            </li>
          </ul>
          </div>
        </div> <!-- poweredby -->
      </div> <!-- span4 -->

      <div class="col-sm-6 col-md-4 mt-3"> 
        <h3>Further Resources</h3>
        <dl class="sg-padded-list">
          <dt><a href="{{ site.data.links.github }}">Source Code</a></dt>
          <dd>GitHub code repository</dd>

          <dt><a href="{{ site.data.links.crowdin }}">Translate SeriesGuide</a></dt>
          <dd>Help translate SeriesGuide to your native language</dd>
        </dl>
      </div> <!-- span4 -->
    </div> <!-- row -->

    <p class="credits mt-5">Made on Earth. <a href="http://uwetrottmann.com">Uwe Trottmann</a>. <a href="/impressum">Impressum</a>.</p>
    <p class="credits">Android, Google Play and the Google Play logo are trademarks of Google LLC.</p>
    <p class="credits">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</div> <!-- footer -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.slim.min.js"></script>
<!-- Bootstrap: Include all compiled plugins -->
<script src="/javascripts/bootstrap.min.js"></script>