<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap: The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="SeriesGuide helps you keep track of your favorite TV shows and movies on your Android devices." />
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#6545a0">

  <link rel="shortcut icon" href="/favicon.ico"/>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- Google+ author tag -->
  <link href="https://plus.google.com/112462818579768957964" rel="publisher" />
</head>