h1, h2 {
color:$primary;
}

dt {
line-height: 24px;
}

a {
font-weight:$font-weight-bold;
}

a:focus {
  outline: 1px dashed;
}

/* fix anchor scroll offset */
//span.anchor {
//  margin-top: -54px; /* height of nav, in this case 54px */
//  display: block;
//  height: 54px; /* height of nav, in this case 54px */
//  visibility: hidden;
//  position: relative;
//}

.navbar-brand {
  font-weight:$font-weight-normal;
}

.navbar-nav > li > a {
font-weight:$font-weight-normal;
}

.list-group-item {
color:#212529;
font-weight:$font-weight-normal;
}

.img-hero {
  max-height:600px;
}

.app-logo {
  height:128px;
  width:128px;
}

.app-logo-inline {
  height:32px;
  width:32px;
}

.credits {
color:#666666;
}

.credits a {
color:#666666;
}

p.title {
font-weight: bold;
margin-top: 20px;
margin-bottom: 5px;
}

#footer {
margin-top:80px;
margin-bottom:50px;
}
