
body {
padding-top: 4.5rem;
}

h1, h2 {
color:$primary;
}

li {
line-height: 24px;
}

dt {
line-height: 24px;
}

a {
font-weight:$font-weight-bold;
}

a:focus {
  outline: 1px dashed;
}

/* fix anchor scroll offset */
span.anchor {
  margin-top: -54px; /* height of nav, in this case 54px */
  display: block;
  height: 54px; /* height of nav, in this case 54px */
  visibility: hidden;
  position: relative;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,.16);
}

.navbar-nav > li > a {
font-weight:$font-weight-normal;
}

.toc > li > a {
color:#212529;
font-weight:$font-weight-normal;
}

.img-hero {
  max-height:600px;
}

.spacer {
height:50px;
}

.smallspacer {
height:25px;
}

.largespacer {
height:80px;
}

.app-logo {
  height:128px;
  width:128px;
}

.app-logo-inline {
  height:32px;
  width:32px;
}

#footer {
margin-top:80px;
margin-bottom:50px;
}

p.title {
font-weight: bold;
margin-top: 20px;
margin-bottom: 5px;
}
