<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.battlelancer.seriesguide.beta"
    android:installLocation="auto" >

    <application
        android:name="com.battlelancer.seriesguide.SeriesGuideApplication"
        android:allowBackup="true"
        android:backupAgent="com.battlelancer.seriesguide.PrefBackupHelper"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:restrictedAccountType="com.battlelancer.seriesguide.beta"
        android:theme="@style/SeriesGuideTheme" >

        <!-- Android Backup key for beta -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIlG-fXzOx6u3ozZ1ah_9eqMnUD70jCFA1FPzJnQ" />
        
    </application>

</manifest>
