<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uwetrottmann.seriesguide"
          android:versionCode="185"
          android:versionName="2.9.7">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="18"/>

    <application
            android:name="com.battlelancer.seriesguide.SeriesGuideApplication"
            android:allowBackup="true"
            android:backupAgent="com.battlelancer.seriesguide.PrefBackupHelper"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/SeriesGuideTheme">

        <!-- Widgets -->
        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.appwidget.UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_v11_info" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidget"
            android:enabled="@bool/isGingerbreadOrLower"
            android:label="@string/smallwidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.appwidget.AppWidget$UpdateService"
            android:enabled="@bool/isGingerbreadOrLower" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetBig"
            android:enabled="@bool/isGingerbreadOrLower"
            android:label="@string/bigwidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_big_info" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetBig$UpdateServiceBig"
            android:enabled="@bool/isGingerbreadOrLower" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetLarge"
            android:enabled="@bool/isGingerbreadOrLower"
            android:label="@string/largewidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_large_info" />
        </receiver>

        <service
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetLarge$UpdateServiceLarge"
            android:enabled="@bool/isGingerbreadOrLower" >
        </service>

        <!-- DashClock Extension -->
        <service
            android:name="com.battlelancer.seriesguide.dashclock.UpcomingEpisodeExtension"
            android:icon="@drawable/ic_notification"
            android:label="@string/dashclock_extension_label"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/dashclock_extension_description" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.battlelancer.seriesguide.dashclock.UpcomingEpisodeSettingsActivity" />
        </service>

        <activity
            android:name="com.battlelancer.seriesguide.dashclock.UpcomingEpisodeSettingsActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>
