<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwetrottmann.seriesguide"
    android:versionCode="185"
    android:versionName="2.9.7" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

</manifest>
