<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.battlelancer.seriesguide"
    android:versionCode="141"
    android:versionName="2.8.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" >
    </uses-feature>

    <application
        android:name="com.battlelancer.seriesguide.SeriesGuideApplication"
        android:backupAgent="com.battlelancer.seriesguide.PrefBackupHelper"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/SeriesGuideTheme" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIToXnISqkDzDlKt206D1VdujnhhoFa0mAEM8Veg" />

        <activity
            android:name="com.battlelancer.seriesguide.ui.ShowsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.SeriesGuidePreferences"
            android:label="@string/preferences" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.BackupDeleteActivity"
            android:label="@string/backup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.ShowInfoActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.SearchActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.getglueapi.PrepareRequestTokenActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="getgluecallback"
                    android:scheme="sgoauth" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.SeasonsActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.EpisodesActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.OverviewActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.EpisodeDetailsActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.TraktSyncActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.UpcomingRecentActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.AddActivity"
            android:label="@string/add_show" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.TraktShoutsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.appwidget.ListWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.CheckinActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.battlelancer.seriesguide.ui.ShowsActivity" />
        </activity>

        <!-- Content provider -->
        <provider
            android:name="com.battlelancer.seriesguide.provider.SeriesGuideProvider"
            android:authorities="com.battlelancer.seriesguide" >
        </provider>

        <!-- Notification service -->
        <service android:name="com.battlelancer.seriesguide.service.NotificationService" >
        </service>

        <receiver android:name="com.battlelancer.seriesguide.service.OnAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Widgets -->
        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetProvider"
            android:label="@string/widget_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.appwidget.UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_v11_info" />
        </receiver>

        <service
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidget"
            android:label="@string/smallwidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service android:name="com.battlelancer.seriesguide.appwidget.AppWidget$UpdateService" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetBig"
            android:enabled="@bool/isFroyoOrLower"
            android:label="@string/bigwidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_big_info" />
        </receiver>

        <service
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetBig$UpdateServiceBig"
            android:enabled="@bool/isFroyoOrLower" >
        </service>

        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetLarge"
            android:enabled="@bool/isFroyoOrLower"
            android:label="@string/largewidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_large_info" />
        </receiver>

        <service
            android:name="com.battlelancer.seriesguide.appwidget.AppWidgetLarge$UpdateServiceLarge"
            android:enabled="@bool/isFroyoOrLower" >
        </service>
        
    </application>

</manifest>
