<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Google Play in-app billing -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <!-- Android Backup key for com.battlelancer.seriesguide application ID -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="${androidBackupKey}" />

    </application>

</manifest>
