<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.battlelancer.seriesguide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Notification service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Sync adapter -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Show shortcuts -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- On Android 11 (SDK 30), allow SeriesGuide to see apps providing extensions. -->
    <!-- https://developer.android.com/preview/privacy/package-visibility -->
    <queries>
        <intent>
            <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
        </intent>
    </queries>

    <application
        android:name="com.battlelancer.seriesguide.SgApp"
        android:allowBackup="true"
        android:backupAgent="com.battlelancer.seriesguide.SgBackupAgent"
        android:fullBackupContent="@xml/sg_full_backup_rules"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:restrictedAccountType="${applicationId}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.SeriesGuide.Launch">

        <!-- AndroidX testing, remove once minSdkVersion is 28 or higher. -->
        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <!-- Samsung MultiWindow support -->
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />

        <!-- Database content provider -->
        <provider
            android:name="com.battlelancer.seriesguide.provider.SeriesGuideProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!-- File sharing content provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- Launch activity -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.ShowsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.action.VIEW_EPISODE" />
                <action android:name="com.battlelancer.seriesguide.api.action.VIEW_SHOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- launcher shortcuts -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Hexagon -->
        <activity
            android:name="com.battlelancer.seriesguide.backend.CloudSetupActivity"
            android:label="@string/hexagon" />

        <!-- Shows -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.OverviewActivity"
            android:exported="true"
            android:parentActivityName="com.battlelancer.seriesguide.ui.ShowsActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.battlelancer.seriesguide.ui.SearchActivity" />
        </activity>
        <activity android:name="com.battlelancer.seriesguide.ui.episodes.EpisodesActivity" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.ListsActivity"
            android:label="@string/lists" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.streams.HistoryActivity"
            android:label="@string/user_stream" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.SearchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <!-- Make this activity accessible from global search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!-- Integrate with voice search: "OK Google, search for X on SeriesGuide" -->
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Receive links to shows -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.search.SimilarShowsActivity" />
        <activity
            android:name=".ui.search.TraktShowsActivity"
            android:parentActivityName=".ui.SearchActivity" />

        <!-- Movies -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.MoviesActivity"
            android:label="@string/movies" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.movies.MoviesSearchActivity"
            android:parentActivityName="com.battlelancer.seriesguide.ui.MoviesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.movies.MovieDetailsActivity"
            android:parentActivityName="com.battlelancer.seriesguide.ui.MoviesActivity" />

        <!-- Settings -->
        <activity
            android:name="com.battlelancer.seriesguide.ui.preferences.MoreOptionsActivity" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.SeriesGuidePreferences"
            android:label="@string/preferences">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.extensions.ExtensionsConfigurationActivity"
            android:exported="true"
            android:label="@string/action_extensions_configure" />

        <!-- Import and Export -->
        <activity
            android:name="com.battlelancer.seriesguide.dataliberation.DataLiberationActivity"
            android:label="@string/backup" />

        <!-- trakt -->
        <activity
            android:name="com.battlelancer.seriesguide.traktapi.ConnectTraktActivity"
            android:label="@string/trakt" />
        <activity
            android:name="com.battlelancer.seriesguide.traktapi.TraktAuthActivity"
            android:label="@string/connect_trakt"
            android:launchMode="singleTask">
            <!-- Support callback for external browser OAuth flow. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sgoauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.battlelancer.seriesguide.ui.comments.TraktCommentsActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- Others -->
        <activity android:name="com.battlelancer.seriesguide.billing.BillingActivity" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.stats.StatsActivity"
            android:label="@string/statistics" />
        <activity
            android:name="com.battlelancer.seriesguide.traktapi.QuickCheckInActivity"
            android:exported="true"
            android:taskAffinity="com.battlelancer.seriesguide.task.quickcheckin" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.HelpActivity"
            android:label="@string/help" />
        <activity
            android:name="com.battlelancer.seriesguide.ui.FullscreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.battlelancer.seriesguide.ui.people.PeopleActivity" />
        <activity android:name="com.battlelancer.seriesguide.ui.people.PersonActivity" />

        <!-- Notification service -->
        <receiver android:name="com.battlelancer.seriesguide.service.NotificationActionReceiver" />
        <receiver android:name="com.battlelancer.seriesguide.service.NotificationAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- List widget configuration -->
        <activity
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetPreferenceActivity"
            android:taskAffinity="com.battlelancer.seriesguide.task.configuration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Widgets -->
        <receiver
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.appwidget.UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_v11_info" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.appwidget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- SeriesGuide Extension listener -->
        <receiver
            android:name="com.battlelancer.seriesguide.extensions.ExtensionActionReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <!-- Built-in SeriesGuide extensions -->
        <receiver
            android:name="com.battlelancer.seriesguide.extensions.AmazonExtensionReceiver"
            android:description="@string/description_extension_amazon"
            android:icon="@mipmap/ic_app"
            android:label="@string/extension_amazon"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="com.battlelancer.seriesguide.extensions.ExtensionsConfigurationActivity" />
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.extensions.AmazonExtension"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <receiver
            android:name="com.battlelancer.seriesguide.extensions.YouTubeExtensionReceiver"
            android:description="@string/description_extension_youtube"
            android:icon="@mipmap/ic_app"
            android:label="@string/extension_youtube"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.extensions.YouTubeExtension"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <receiver
            android:name="com.battlelancer.seriesguide.extensions.VodsterExtensionReceiver"
            android:description="@string/extension_vodster_description"
            android:icon="@mipmap/ic_app"
            android:label="@string/extension_vodster"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.extensions.VodsterExtension"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <receiver
            android:name="com.battlelancer.seriesguide.extensions.WebSearchExtensionReceiver"
            android:description="@string/description_extension_web_search"
            android:icon="@mipmap/ic_app"
            android:label="@string/web_search"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.battlelancer.seriesguide.extensions.WebSearchExtension"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Sync service -->
        <service
            android:name="com.battlelancer.seriesguide.sync.SgAuthenticationService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/accountauth" />
        </service>
        <service
            android:name="com.battlelancer.seriesguide.sync.SgSyncService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_seriesguide" />
        </service>

    </application>

</manifest>
