<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.battlelancer.seriesguide"
    android:installLocation="auto" >

    <application
        android:name="com.battlelancer.seriesguide.SeriesGuideApplication"
        android:allowBackup="true"
        android:backupAgent="com.battlelancer.seriesguide.PrefBackupHelper"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SeriesGuideTheme" >

        <!-- Android Backup key for free -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIToXnISqkDzDlKt206D1VdujnhhoFa0mAEM8Veg" />

    </application>

</manifest>
