<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Google Play in-app billing -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>

        <!-- Android Backup key for com.battlelancer.seriesguide application ID -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="${androidBackupKey}" />

        <!-- Built-in SeriesGuide extensions (Google Play version only) -->
        <service
            android:name="com.battlelancer.seriesguide.extensions.GooglePlayExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/extension_google_play"
            android:description="@string/description_extension_google_play"
            tools:ignore="ManifestResource">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </service>

    </application>

</manifest>
