body {
font-family: 'Roboto', sans-serif;
text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
background: #fff;
color:#333;
font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto', sans-serif;
text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

h1, h2 {
font-weight: 300;
color:#2B00AA;
}

h3, h4, h5, h6 {
font-weight: 300;
color:#333;
}

li {
line-height: 24px;
}

dt {
line-height: 24px;    
}

a {
color:#2B00AA;
text-decoration:none;
line-height:inherit;
font-weight:bold;
}

a:hover {
text-decoration:underline;
}

.link-button {
font-weight:300;
color:#333;
font-size:2em;
}

.button-description {
margin-top:5px;
}

.navbar-brand {
  font-weight:300;
  color: #eee;
}

.navbar-nav > li > a {
font-size: 1.2em;
font-weight:400;
}

.toc > li > a {
color:#333;
font-weight:400;
}

.img-hero {
  max-height:600px;
}

.spacer {
height:50px;
}

.smallspacer {
height:25px;
}

.largespacer {
height:80px;
}

.well {
background:#111111;
color: #ffffff;
}

.well a {
color: #ffffff;
}

.share-button {
float: left;
margin-left: 2px;
}

#app-description {
  margin-top:0;
}

#content {
margin-top:60px;
}

#poweredby-ul {
margin-bottom:0px;
}

#poweredby-ul li {
margin-top:10px;
margin-bottom: 0px;
}

#footer {
margin-top:80px;
margin-bottom:50px;
}

#credits {
font-size:0.75em;
color:#666666;
}

#credits a {
color:#666666;	
}

p.right {
float:right;
}
