body {
font-family: 'Open Sans', sans-serif;
text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
background: #fff;
color:#333;
}

h1, h2, h3, h4, h5, h6 {
font-weight: normal;
color:#333;
}

p {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}

a {
color:#33b5e5;
text-decoration:none;
line-height:inherit;
font-weight:inherit;
}

a:hover {
color:#2B9BC3;
text-decoration:underline;
}

.spacer {
height:50px;
}

.largespacer {
height:80px;
}

.well {
background:#111111;
}

.share-button {
float: left;
margin-left: 5px;
}

#content {
margin-top:60px;
}

#flattr {
margin-top:5px;
}

#poweredby-ul {
margin-bottom:0px;
}

#poweredby-ul li {
margin-bottom:0px;
}

#footer {
margin-top:80px;
margin-bottom:50px;
}

#credits {
font-size:0.75em;
color:#666666;
}

#credits a {
color:#666666;	
}

p.right {
float:right;
}
