<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- Amazon In-App Purchasing -->
        <activity android:name="com.battlelancer.seriesguide.billing.amazon.AmazonBillingActivity" />
        <receiver
            android:name="com.amazon.device.iap.ResponseReceiver"
            android:exported="true"
            android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY">
            <intent-filter>
                <action android:name="com.amazon.inapp.purchasing.NOTIFY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
