<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{{ page.title }}</title>
<link href="/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="wrapper">
	<div>
		<ul class="navlist">
			<li class="navlist-li">Home</li>
			<li class="navlist-li">Screenshots</li>
			<li class="navlist-li">Help</li>
			<li class="navlist-li">
			<a href="http://github.com/UweTrottmann/SeriesGuide">Source Code</a></li>
		</ul>
	</div>
	<div>
		{{ content }}
	</div>
</div>

</body>

</html>
