<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="en" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	<link href="../static/styles.css" rel="stylesheet" type="text/css" />	
	<script type="text/javascript">
	/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
	/* ]]> */
	</script>
</head>

<body>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="fill">
        <div class="container">
			<h3><a href="/">SeriesGuide</a></h3>
			<ul>
			  <li><a href="/">Home</a></li>
			  <li><a href="screenshots.html">Screenshots</a></li>
			  <li><a href="hints.html">Getting Started</a></li>
			  <li><a href="help.html">Help</a></li>
			  <li><a href="CHANGELOG">Changelog</a></li>
			  <li><a href="http://github.com/UweTrottmann/SeriesGuide">Source Code (external)</a></li>
			</ul>
        </div>
      </div> <!-- /fill -->
    </div> <!-- /topbar -->
</div>

<div id="content" class="container">
	{{ content }}
</div> <!-- container -->

<div id="footer">
	<div class="container">
		<p class="right"><a href="#">Back to top</a></p>
		<p>
            Designed and built with <a href="http://twitter.github.com/bootstrap" target="_blank">bootstrap</a> by <a href="http://twitter.com/tripmckay" target="_blank">@tripmckay</a>.
        </p>
	</div> <!-- container -->
</div> <!-- footer -->

</body>

</html>
